<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Recommender System</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <!-- hit ctrl+shift+r to reload css (bypass cache)-->
</head>
<body>

<h1>Movie Recommender System</h1>


<div class="buttons">
    <a href=dashboard><button class="dash_button">Dashboard</button></a>
    <!--a href=dashboard><button type="button" class="dash_button">Dashboard</button></a-->
    <a href=modeling><button class="model_button">Recommendations</button></a>
    <!--button type="button" class="model_button">Recommendations</button-->
</div>

<p>
    <p id="proj">STATS 418 Project</p>
    <p id="names">Victoria Anorve, Garvyn Jay Chua, Yoon-ho Kim, Noah Read</p>
</p>



</body>



</html>