<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/modeling.css" />
    <!-- hit ctrl+shift+r to reload css (bypass cache)-->
</head>

<body>

<h1>Recommendations for You</h1>

<form action="http://localhost:5000/recs" method="post">
    <p id="intro">Enter User Information</p>
    <p id="sub-intro">Please specify userID & genre:</p>
    <!-- please specify user ID & genre (smaller font)
    2 text boxes, one for user id and one for genre-->
    <p id="text-box1"><input placeholder="userID" type="text" name="name" /></p>
    <p id="text-box2"><input placeholder="genre" type="text" name="genre" /></p>
    <p id="submit"><input type="submit" value="submit"/></p>   
</form>  

<div>
    <a href=/ ><button class="home_button">Home</button></a>
</div>
</body>


</html>